*{
box-sixing:border-box;
}
body {
font-family:Arial, Helvetica;
background-color:#696969;
}

header {
background-color: #FF1493;
padding: 30px;
text-align: center;
font-size: 30px;
color: white;
}

nav {
float: left;
width: 30%;
background: #FF1493;
padding: 20px;
min-height:200px;
}

nav ul {
list-style-type:none;
padding:0;
}

article {
float:left;
padding:20px;
width:60%;
background-color:#Black;
min-height:200px;
color:white;
}

footer {
background-color:yellow;
padding:10px;
text-align:center;
color:white;
}